<!DOCTYPE html>
<!--
/$$   /$$                     /$$       /$$$$$$$  /$$   /$$        /$$$$$$   /$$$$$$    /$$   /$$$$$$$$
| $$  | $$                    | $$      | $$__  $$| $$  | $$       /$$__  $$ /$$$_  $$ /$$$$  |_____ $$/
| $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$| $$  \ $$| $$  | $$      |__/  \ $$| $$$$\ $$|_  $$       /$$/
| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/| $$$$$$$/| $$  | $$        /$$$$$$/| $$ $$ $$  | $$      /$$/
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$__  $$| $$  | $$       /$$____/ | $$\ $$$$  | $$     /$$/
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  \ $$| $$  | $$      | $$      | $$ \ $$$  | $$    /$$/
| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$  | $$|  $$$$$$/      | $$$$$$$$|  $$$$$$/ /$$$$$$ /$$/
|__/  |__/ \_______/ \_______/|__/  \__/|__/  |__/ \______/       |________/ \______/ |______/|__/

-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="HackRU Spring 2017"/>
    <meta property="og:description"
          content="Spring into learning and creating. HackRU's 12th hackathon is coming to the Rutgers Athletic Center April 22nd - 23rd."/>
    <meta property="og:image" content="http://www.hackru.org/assets/hackRU_SP17_avatar.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign up for HackRU Spring 2017, taking place from April 22nd to 23rd.">
    <title>HackRU - Dashboard</title>

    <link rel="shortcut icon" href="./assets/logo-favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/logo-favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/custom.css">

    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/8dec7403ea.js"></script>
    <script src="./js/custom.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/snackru.js"></script>

</head>

<body>
<div class="container-fluid">


    <div class="row subpage-section" id="dashboarddayof">

        <div class="col-xs-12">
            <div class="row subpage-hero">
                <div class="col-xs-12 subpage-nav"></div>
                <div class="col-xs-12 subpage-hero-title">
                    <h1 class="hidden-xs">Dashboard</h1>
                    <h3 class="visible-xs-block">Dashboard</h3>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <h1 class="greeting">Welcome, <%= user.mlh_data.first_name %>!</h1>
                </div>
            </div>


            <div class="row">

                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 card-container">
                            <div class="row">
                                <div class="col-md-12 card user-info">
                                    <div>
                                        <img class="qr" src="data:image/png;charset=utf-8;base64,<%= qrimage %>">

                                        <h1><%= user.mlh_data.first_name + " " + user.mlh_data.last_name %> </h1>

                                        <div class="card-text">
                                            <h4>
                                                <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                                <strong>
                                                    <%= user.mlh_data.school.name %>
                                                </strong>
                                            </h4>
                                            <h4>
                                                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                                                <strong>
                                                    <%= user.mlh_data.level_of_study %>
                                                </strong>
                                            </h4>
                                            <h4>
                                                <i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>
                                                <strong>
                                                    <%= user.mlh_data.major %>
                                                </strong>
                                            </h4>

                                            <% if (user.github != null) { %>
                                            <h4>
                                                <i class="fa fa-fw fa-github" aria-hidden="true"></i>
                                                <strong>
                                                    <a href='https://github.com/<%= user.github %>'>
                                                        <%= user.github %>
                                                    </a>
                                                </strong>
                                            </h4>
                                            <% } %>

                                            <% if (user.resume != null) { %>
                                            <h4>
                                                <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
                                                <strong>
                                                    <a href='/resume/<%= user.resume %>'>
                                                        <%= user.resume %>
                                                    </a>
                                                </strong>
                                            </h4>
                                            <% } %>


                                            <br>

                                            <p><a href="account">Edit my profile</a></p>


                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 card">
                                    <h1>/gavel</h1>

                                    <div class="card-text">
                                        <p>Submit cool hacks <a href="https://devpost.com">here</a>!</p>
                                        <form id="gavel-form" action="javascript:handleGavelRequest()">
                                            <span class="gavel-form-text">Look up your cool hacks </span>
                                            <input type="text" id="gavel-form-name-input">
                                            <input type="submit" id="gavel-form-submit-input">
                                        </form>
                                        <div id="gavel-data">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-md-8 card-container">
                            <div class="row">
                                <div class="col-md-12 card announcements">
                                    <h1>/announcements</h1>
                                    <div class="card-text">


                                        <section class="card-section" id="anouncements-app"><%- anouncementsMarkup %></section>
                                    </div>
                                </div>

                                <div class="col-md-12 card">
                                    <h1>/upcoming</h1>
                                    <div class="card-text upcoming">
                                        <section class="card-section" id="events-app"><%- eventsMarkup %></section>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-md-12 card-container">
                            <div class="row">
                                <div class="col-md-12 card foodstats">
                                    <h1>/snackRU</h1>

                                    <div class="row">

                                        <div class="col-xs-3">
                                            <h4 class="food-bar-label">Sat. Lunch:</h4>
                                            <h4 class="food-bar-label">Sat. Dinner:</h4>
                                            <h4 class="food-bar-label">Midnight Snack:</h4>
                                            <h4 class="food-bar-label">Sun. Breakfast:</h4>
                                            <h4 class="food-bar-label">Sun. Lunch:</h4>
                                        </div>

                                        <div class="col-xs-9 foodstats-chart">
                                            <span class="food-bar"><h4 style="border:0px;">0</h4></span>
                                            <span class="food-bar"><h4 style="width:20%">1</h4></span>
                                            <span class="food-bar"><h4 style="width:40%">3</h4></span>
                                            <span class="food-bar"><h4 style="width:70%">6</h4></span>
                                            <span class="food-bar"><h4 style="width:100%">9</h4></span>
                                        </div>

                                        <div class="col-xs-9 col-xs-offset-3"><h4 class="text-center">helpings</h4></div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>



                <div class="col-xs-12 col-sm-8 col-md-3 card-container">
                    <div class="row">
                        <div class="col-md-12 card info-bar">
                            <h1>/info</h1>
                            <div class="row">
                                <div class="col-xs-4"><a href=""><img class="info-bar-pic"
                                                                      src="http://logonoid.com/images/google-maps-logo.png"
                                                                      alt=""></a></div>
                                <div class="col-xs-4"><a href=""><img class="info-bar-pic"
                                                                      src="https://cdn.worldvectorlogo.com/logos/slack-1.svg"
                                                                      alt=""></a></div>
                                <div class="col-xs-4"><a href=""><img class="info-bar-pic"
                                                                      src="https://devpost-challengepost.netdna-ssl.com/assets/reimagine2/devpost-icon-900856edde1e4a510a65f29a1bde7a2b.svg"
                                                                      alt=""></a></div>

                                <div class="col-xs-12 emergenums">
                                    <h3>Emergency Numbers</h3>
                                    <h5>Carlin: (443) 945-7390</h5>
                                    <h5>RUPD: (732) 932-7211</h5>
                                    <h5>NBPD: (732) 745-5200</h5>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 card">
                            <h1>/twitter feed</h1>
                            <a class="twitter-timeline" data-lang="en" data-height="500" data-theme="light"
                               data-link-color="#4BCF7E" href="https://twitter.com/theHackRU">Tweets by theHackRU</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>


                    </div>
                </div>



            </div>
        </div>


    </div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


    <div class="row" id="footer"></div>

</div>

</body>

</html>
