<!DOCTYPE html>
<% include ./partials/ascii.ejs %>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
<!-- LOGGED IN NAVBAR -->
<% include ./partials/li-nav.ejs %>
<!-- END LOGGED IN NAVBAR -->

<div class="container-fluid">


    <!-- CONTENT SECTION -->
    <div class="row min-full-height" id="dashboarddayof">
        <div class="col-10 offset-1">

            <div class="row li-section-title-box">
                <div class="col-12">
                    <h2 class="li-section-title">Dashboard</h2>
                </div>
            </div>

            <div class="row mt-5">


                <div class="col-12 col-md-6 col-lg-3 ru-card-col">
                    <div class="row">

                        <div class="col-12 ru-card ru-card-me">
                            <h4 class="ru-card-title text-center"><span>My Info</span></h4>

                            <img class="qr" width="200px" src="data:image/png;charset=utf-8;base64,<%= qrimage %>">
                            <!-- <img class="qr" src="http://placekitten.com/g/1000/1000" style="width: 100%;"> -->

                            <h4 class="mb-4"><strong><%= user.mlh_data.first_name + " " + user.mlh_data.last_name %></strong></h4>

                            <h5 class="ru-card-text">
                                <i class="fa fa-fw fa-graduation-cap"></i>
                                <%= user.mlh_data.school.name %>
                            </h5>

                            <h5 class="ru-card-text">
                                <i class="fa fa-fw fa-user"></i>
                                <%= user.mlh_data.level_of_study %>
                            </h5>

                            <h5 class="ru-card-text">
                                <i class="fa fa-fw fa-lightbulb-o"></i>
                                <%= user.mlh_data.major %>
                            </h5>

                            <% if (user.github != null) { %>
                            <h5 class="ru-card-text">
                                <i class="fa fa-fw fa-github"></i>
                                <a href='https://github.com/<%= user.github %>'><%= user.github %></a>
                            </h5>
                            <% } %>

                            <% if (user.resume != null) { %>
                            <h5 class="ru-card-text">
                                <i class="fa fa-fw fa-file-text"></i>
                                <a href='/resume/<%= user.resume %>'><%= user.resume %></a>
                            </h5>
                            <% } %>
                        </div>

                        <div class="col-12 ru-card hidden-md-down">
                            <h4 class="ru-card-title text-center"><span>Meal Tracker</span></h4>
                            <input type="hidden" value="<%= user.mlh_data.email %>" id="user-email"></input>
                            <div id="snack-dash">

                                <div id="meal-tracker" class="card">
                                    <canvas id="myChart" height="260px;"></canvas>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 ru-card hidden-md-down">
                            <h4 class="ru-card-title text-center"><span>Gavel</span></h4>
                            <h5 class="ru-card-text">Submit your hacks <a href="https://hackru-f17.devpost.com/">here</a> or look up your hacks below:</h5>

                            <form id="gavel-form" action="javascript:handleGavelRequest()">
                                <input class="form-control mb-3" type="text" id="gavel-form-name-input">
                                <button id="gavel-form-submit-input" class="btn btn-block">Search</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-6 ru-card-col">
                    <div class="row">
                        <div class="col-12 ru-card">
                            <h4 class="ru-card-title text-center"><span>Announcements</span></h4>
                            <h5 class="ru-card-text">All announcements will go here.</h5>
                            <!--<section class="card-section" id="anouncements-app"><%- anouncementsMarkup %></section>-->
                        </div>

                        <div class="col-12 ru-card">
                            <h4 class="ru-card-title text-center"><span>Upcoming</span></h4>
                            <h5 class="ru-card-text">All upcoming events will go here.</h5>
                            <%- eventsMarkup %>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-lg-3 ru-card-col">
                    <div class="row">
                        <div class="col-12 ru-card">
                            <h4 class="ru-card-title text-center"><span>Info</span></h4>
                            <h5 class="ru-card-text"><strong>Emergency Numbers</strong></h5>
                            <!--<h5 class="ru-card-text"><strong>EXEC:</strong> (443) 945-7390</h5>-->
                            <h5 class="ru-card-text"><strong>RUPD:</strong> (732) 932-7211</h5>
                            <h5 class="ru-card-text"><strong>NBPD:</strong> (732) 745-5200</h5>
                            <br>


                            <h5 class="ru-card-text">
                                <strong>Main Floor:</strong> Mentor table (doors of main hacking area), Multipurpose room (further down)
                            </h5>
                            <h5 class="ru-card-text">
                                <strong>4th Floor:</strong> Hardware in 411a
                            </h5>
                            <h5 class="ru-card-text">
                                <strong>Basement:</strong> Red Lion Cafe (right of staircase), Mirror Room (left of staircase)
                            </h5>

                            <div class="row mt-5">
                                <div class="col-4">
                                    <a href="https://www.google.com/maps/place/Rutgers+Athletic+Center/@40.5255273,-74.4432251,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3c799e4acd7af:0xc1b21b4e9a6fa334!8m2!3d40.5255273!4d-74.4410311">
                                        <img class="ru-card-info-pic" src="http://logonoid.com/images/google-maps-logo.png">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://hackruxii.slack.com">
                                        <img class="ru-card-info-pic" src="https://cdn.worldvectorlogo.com/logos/slack-1.svg">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://hackru-sp17.devpost.com/">
                                        <img class="ru-card-info-pic" src="https://devpost-challengepost.netdna-ssl.com/assets/reimagine2/devpost-icon-900856edde1e4a510a65f29a1bde7a2b.svg">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 ru-card">
                            <h4 class="ru-card-title text-center"><span>Twitter</span></h4>
                            <a class="twitter-timeline" data-lang="en" data-height="750" data-theme="light"
                               data-link-color="#DC2430" href="https://twitter.com/theHackRU">Tweets by theHackRU</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                        </div>

                    </div>
                </div>




                <!-- ------------------------------------------------------------------------------ -->
                <div class="col-xs-12 col-sm-8 col-md-6 card-container">
                    <div class="row">




                        <div class="col-md-6 card">



                        </div>


                    </div>
                </div>



            </div>
        </div>

    </div>


    <!-- FOOTER SECTION -->
    <% include ./partials/li-footer.ejs %>
    <!-- END FOOTER SECTION -->
</div>

</body>


<script src="./js/chart.js"></script>
<script src="./js/controller.js"></script>
</html>
