<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
    <h2>Our Data</h2>
    <p>local.email: <%= user.local.email %></p>
    <p>github: <%= user.github %></p>
    <p>registration_status: <%= user.registration_status %></p>
    <p>resume: <%= user.resume %></p>
    <p>data_sharing: <%= user.data_sharing %></p>
    <h2>MyMLH Data</h2>
		<p>mlhid: <%= user.mlh_data.mlhid %></p>
    <p>email: <%= user.mlh_data.email %></p>
    <p>created_at: <%= user.mlh_data.created_at%></p>
    <p>updated_at: <%= user.mlh_data.updated_at%></p>
    <p>first_name: <%= user.mlh_data.first_name%></p>
    <p>last_name: <%= user.mlh_data.last_name%></p>
    <p>major: <%= user.mlh_data.major%></p>
    <p>shirt_size: <%= user.mlh_data.shirt_size%></p>
    <p>dietary_restrictions: <%= user.mlh_data.dietary_restrictions%></p>
    <p>special_needs: <%= user.mlh_data.special_needs%></p>
    <p>date_of_birth: <%= user.mlh_data.date_of_birth%></p>
    <p>gender: <%= user.mlh_data.gender%></p>
    <p>phone_number: <%= user.mlh_data.phone_number%></p>
    <p>level_of_study: <%= user.mlh_data.level_of_study%></p>
    <p>school id: <%= user.mlh_data.school.id%></p>
    <p>school name: <%= user.mlh_data.school.name%></p>
    <p>json: <%= user %></p>
	</body>
</html>
