<html>
<h1>Manage Account</h1>
<% if(message) { %>
  <p><%= message %></p>
<% } %>
<p>Current Resume: <a href="/resume/<%= user.id %>_<%= user.resume %>"><%= user.resume %></a></p>
<p>Current GitHub Handle: <%= user.github %></p>
<h2>Modify Information:</h2>
<form method="post" action="/account" enctype="multipart/form-data">
  <p>GitHub Handle:</p>
  <input name="github" type="text" value=<%= user.github %> />
  <p>Resume:</p>
  <input name="resume" type="file"/>
  <input type="submit" />
</form>
<a href="/dashboard">Back to Dashboard</a>
</html>
